<div class="section topspace">
    <h2 class="section-title"><span>Actions</span></h2>
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>A simple, nice-looking <b>call to action box</b>. Boxing is about respect. getting it for yourself,
                and taking it away from the other guy. no, this is mount everest. </p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="http://www.gettemplate.com/actions/initio.zip " class="btn btn-primary btn-lg">Actions original template</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->

<div class="section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>A simple, nice-looking <b>call to action box</b>. Boxing is about respect. getting it for yourself,
                and taking it away from the other guy. no, this is mount everest. </p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="https://github.com/miguelsimoni/hugo-initio/archive/master.zip " class="btn btn-primary btn-lg">Actions HUGO template</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
