<div class="section featured topspace">

    <h2 class="section-title"><span>Features</span></h2>

    <div class="">
        {{ range (where (where .Data.Pages "Section" "about") "Params.featured" "!=" nil) }}
        <div class="col-sm-6 col-md-3">
            <h3 class="text-center">{{ .Title }}</h3>
            <p>{{ .Summary }}</p>
            <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
        </div>
        {{ end }}
    </div>

</div>
<!-- / section -->