<div class="section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. you <a href="#">measure</a> yourself by the people who measure themselves by you. it only took me <a href="#">six days</a>.
        </p>
    </div>
</div> <!-- / section -->
