@import url('https://fonts.googleapis.com/css?family=Open+Sans|Parisienne');
@import "minecraft-webfont.css";

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Open Sans', Arial, sans-serif;
}
/* Menu Styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #6800a5;
  text-align: center;
  z-index: 1;
}
nav > ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav > ul li:hover > ul {
  display: inline;
}
nav > ul a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px;
  display: block;
  line-height: 50px;
}
nav > ul a:hover {
  color: #ffffff;
}
nav > ul > li {
  display: inline-block;
  position: relative;
  height: 50px;
  background: #6800a5;
}
nav > ul > li:hover {
  background: #540085;
}
nav > ul > li > a {
  text-align: center;
}
nav > ul > li > ul {
  position: absolute;
  top: 50px;
  left: 0;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  text-align: left;
}
nav > ul > li > ul > li {
  position: relative;
  height: 50px;
  background: #540085;
}
nav > ul > li > ul > li:hover {
  background: #5e0095;
}
nav > ul > li > ul > li > a {
  font-size: 16px;
}
nav > ul > li > ul > li > ul {
  position: absolute;
  top: 0;
  right: -150px;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
nav > ul > li > ul > li > ul > li {
  height: 50px;
  background: #400065;
}
nav > ul > li > ul > li > ul > li:hover {
  background: #4a0075;
}
nav > ul > li > ul > li > ul > li > a {
  font-size: 14px;
}
nav + * {
  margin-top: 50px;
}
header {
  height: 400px;
  padding: 50px 0;
  text-align: center;
  position: relative;
  background: #4096ee url(/images/clouds.svg) repeat-x;
  background-size: 800px 400px;
  box-shadow: inset 0 -16px 16px -8px #ffffff;
}
#banner-svg {
  margin: 0 auto;
  width: 850px;
  height: 250px;
  font-family: 'Parisienne', cursive;
}
#banner-svg .glyph {
  stroke-linejoin: round;
}
#banner-svg text {
  word-spacing: 0;
  letter-spacing: 0;
  paint-order: stroke fill markers;
}
#banner-svg text tspan {
  paint-order: stroke fill markers;
}
#banner-svg text.ofthe {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 9px;
  text-anchor: middle;
}
#banner-svg text.realm {
  text-anchor: end;
}
#banner-svg text.winds {
  text-anchor: start;
}
#banner-svg text.slogan {
  text-anchor: middle;
}
#address {
  padding-top: 16px;
  font-family: 'Minecraft';
  font-size: 24px;
  color: #6900a5;
  /* text-shadow: 3px 3px 0 #cae4ff; */

}
#discord-invite {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-top: 3px;
  padding: 6px 8px 0px;
  text-align: center;
  text-decoration: none;
  background: #7289DA;
  color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #364681;
}
#discord-invite img {
  width: 150px;
}
article {
  position: relative;
  width: 1000px;
  margin: 1em auto 0;
  padding: 1em 0;
  border: 4px double transparent;
  border-top-color: #6900a5;
}
article::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  display: block;
  margin: -12px;
  padding: 4px;
  width: 17px;
  height: 16px;
  background: #ffffff url(/images/logo-glyph-lowres.svg) no-repeat center;
  background-size: 17px 16px;
}
article h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}
article h1.error {
  color: #c73838;
}
article h1.error .status {
  display: inline-block;
  padding: 0 7px 0 6px;
  background: #c73838;
  color: #ffffff;
  border-radius: 5px;
}
