@import url('https://fonts.googleapis.com/css?family=Open+Sans|Parisienne');
@import url('minecraft-webfont.css');

html {
  font-size: 100%;
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color: #666666;
  padding: 0;
}
.topspace {
  margin-top: 40px;
}
.center-block {
  display: block;
  margin: 0 auto;
}
/*********************************************************************


                            Navigation in header


**********************************************************************/
#chkShowHideMenu {
  display: none;
}

@media screen and (min-width: 901px) {
  #lblShowMenu, #lblHideMenu {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #6800a5;
    border: 0;
    border-radius: 0;
    text-align: center;
    z-index: 1;
  }
  .navbar > ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navbar > ul li:hover > ul {
    display: inline;
  }
  .navbar > ul a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    display: block;
    line-height: 50px;
  }
  .navbar > ul a:hover {
    color: #fff;
  }
  .navbar > ul > li {
    display: inline-block;
    position: relative;
    height: 50px;
    background: #6800a5;
    color: #fff;
  }
  .navbar > ul > li:hover {
    background: #540085;
  }
  .navbar > ul > li > a {
    text-align: center;
  }
  .navbar > ul > li > ul {
    position: absolute;
    top: 50px;
    left: 0;
    width: 185px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    text-align: left;
  }
  .navbar > ul > li > ul > li {
    position: relative;
    height: 50px;
    background: #540085;
  }
  .navbar > ul > li > ul > li:hover {
    background: #5e0095;
  }
  .navbar > ul > li > ul > li > a {
    font-size: 16px;
  }
  .navbar > ul > li > ul > li > ul {
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  .navbar > ul > li > ul > li > ul > li {
    height: 50px;
    background: #400065;
  }
  .navbar > ul > li > ul > li > ul > li:hover {
    background: #4a0075;
  }
  .navbar > ul > li > ul > li > ul > li > a {
    font-size: 14px;
  }
  .navbar + * {
    margin-top: 50px;
  }
}
@media screen and (max-width: 900px) {
  
  #lblShowMenu, #lblHideMenu {
    width: 38px;
    padding: 10px 8px;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid;
    border-radius: 5px;
    
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
  }
  #lblShowMenu {
    position: fixed;
    top: 10px;
    left: 10px;
    opacity: 1.0;
    z-index: 1;
    
    color: #000;
    background: #fff3;
    border-color: #fff8;
    
    transition: opacity 100ms ease 100ms;
  }
  #lblHideMenu {
    width: calc(100% - 20px);
    margin: 10px;
    color: #fff;
    background: #19131d;
    border-color: #6900a5;
  }
  #lblShowMenu .icon, #lblHideMenu .icon {
    font-size: 22px;
    vertical-align: middle;
    
    position: relative;
    top: -2px;
  }
  #lblHideMenu .text {
    display: inline;
    margin-left: 3px;
  }
  #lblShowMenu .text {
    display: none;
  }

  #chkShowHideMenu:checked ~ .navbar {
    width: 80vw;
    transition: width 500ms ease 0ms;
  }
  #chkShowHideMenu:checked ~ #lblShowMenu {
    opacity: 0.0;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    width: 0vw;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    
    color: #fff;
    background: #19131d;
    background: #19131df8;
    
    transition: width 500ms ease 100ms;
  }
  .navbar ul {
    list-style-type: none;
    margin-bottom: 3px;
    padding-left: 1em;
  }
  .navbar > ul {
    width: calc(80vw - 20px);
    margin: 10px 10px 60px;
    padding-left: 0;
  }
  .navbar a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 4px 8px 6px;
    
    color: #fff;
  }
  .navbar > ul > li > a,
  .navbar .more + ul > li > a {
    border-top: 1px solid #6900a5;
  }
  .navbar .more {
    display: none
  }
  .navbar .more + ul {
    padding-left: 0;
    
    border-bottom: 1px solid #6900a5;
  }
}
/****************************************************************************************


                                     Sidebar special Nav


*****************************************************************************************/
#nav-side {
  margin-top: -0.37em;
}
#nav-side h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
}
#nav-side a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #c7254e;
}
#nav-side a code {
  padding: 0;
  background: none;
}
#nav-side a:hover,
#nav-side a:hover code {
  color: #9100C1;
}
#nav-side h1 a {
  color: #6800A5;
}
#nav-side ul,
#nav-side li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-side ul {
  padding-left: 1em;
  background: white;
  margin-bottom: -1px;
}

#nav-side li {
  padding-left: 1em;
  border: 1px dotted black;
  border-width: 0 0 1px 1px;
}

#nav-side li.container {
  border-bottom: 0px;
}

#nav-side li.empty {
  font-style: italic;
  color: silver;
  border-color: silver;
}

#nav-side li a {
  display: block;
  margin: 0;
  background: white;
  position: relative;
  top: 0.8em;
  padding: 0 0 0 5px;
}

#nav-side li ul {
  border-top: 1px dotted black;
  margin-left: -1em;
  padding-left: 20px;
}

#nav-side ul li:last-child > ul {
  border-left: 1px solid white;
  margin-left: -16px;
}
/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 1em 0;
}
ul,
ol {
  line-height: 1.6em;
  margin: 0 0 1em 0;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333;
}
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
h2 {
  font-size: 32px;
  font-size: 2rem;
}
h3 {
  font-size: 28px;
  font-size: 1.75rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
a {
  color: #6800A5;
}
a:hover {
  color: #9100C1;
}
.lead {
  font-weight: 300;
  font-size: 24px;
  /* font-size: 1.3125rem; */
}
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.anchor-link {
    font-size: 16px;
    opacity: 0;
    margin-left: 0.5em;
}
h1 .anchor-link {
    position: relative;
    top: -0.25em;
}
*:hover > .anchor-link {
    opacity: 0.5;
}
.anchor-link:hover {
    text-decoration: none;
    opacity: 1;
}

dl {
  margin-left: 200px
}
dl dt {
  display: block;
  float: left;

  margin: 0;
  margin-left: -200px;
  padding: 10px;
  width: 200px;

  font-size: 1.1em;
  font-weight: bold;
  text-align: right;
}
dl dd {
  margin: 0;
  padding: 10px;
  
  border-left: 1px solid #ccc;
}
dl dd :last-child {
  margin-bottom: 0;
}
/*********************************************************************


                                HEADER


**********************************************************************/
body > header {
  --header-height: calc(100vw/17*5 + 17vw);
  height: var(--header-height);
  padding-top: 50px;
  padding-top: 5vw;
  text-align: center;
  position: relative;
  background: #4096ee url(/images/clouds.svg) repeat-x;
  background-size: auto var(--header-height);
  box-shadow: inset 0 -16px 16px -8px #fff;
}
#banner-svg {
/*  850 x 250 | 17:5  */
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  height: auto;
  font-family: 'Parisienne', cursive;
}
#banner-svg .glyph {
  stroke-linejoin: round;
}
#banner-svg text {
  word-spacing: 0;
  letter-spacing: 0;
  paint-order: stroke fill markers;
}
#banner-svg text tspan {
  paint-order: stroke fill markers;
}
#banner-svg text.ofthe {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 9px;
  text-anchor: middle;
}
#banner-svg text.realm {
  text-anchor: end;
}
#banner-svg text.winds {
  text-anchor: start;
}
#banner-svg text.slogan {
  text-anchor: middle;
}
#address {
  font-family: 'Minecraft';
  font-size: 24px;
  font-size: 5vw;
  padding-top: 16px;
  padding-top: 2vw;
  color: #6900a5;
  /* text-shadow: 3px 3px 0 #cae4ff; */
}

@media screen and (min-width: 480px) {
  body > header {
    --header-height: calc(100vw/17*5 + 10vw + 40px);
  }
  #address {
    font-size: 24px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 912px) {
  body > header {
    --header-height: 400px;
    padding-top: 50px;
  }
}

#discord-invite {
  display: none;
}
@media screen and (min-width: 901px) {
  #discord-invite {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 3px;
    padding: 6px 8px 0px;
    text-align: center;
    text-decoration: none;
    background: #7289DA;
    color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #364681;
  }
  #discord-invite img {
    width: 150px;
  }
}
/*********************************************************************


                                CONTENT


**********************************************************************/
img {
  max-width: 100%;
}
.btn {
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  color: #000c;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0 none;
  padding: 12px 35px;
  text-shadow: 0 1px 0px #780d33;
}
.btn-primary {
  color: #fff;
  background-color: #6800A5;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #e61f65;
}
.btn-action {
  font-weight: bold;
  background: transparent;
  border: 1px solid #333;
  border: 1px solid #000c;
  text-shadow: none;
}
.btn-action::after {
  content: "\00bb";
  display: inline-block;
  height: 0.75em;
  margin: 0 0 0px 6px;
  
  position: relative;
  top: 2px;
  left: 7px;
  
  font-size: 2em;
  line-height: 0.75em;
}
.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active {
  color: #000;
  border-color: #000;
  background-color: #fff4;
  box-shadow: 0 0 10px #fff8;
  text-shadow: 0 0 5px #fffc;
}
.btn-lg {
  padding: 15px 60px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold;
}
.panel-cta {
  box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
  background: #f3f3f3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
  margin: 0;
}
.panel-cta .panel-body {
  padding: 35px;
}
/* Section - Featured */
.featured {
  font-size: 24px;
}
.featured article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #eee;
}

.featured .img {
  border-style: solid;
  border-width: 10px 0;
  box-shadow: 2px 2px 10px #0008
}

#feature-afterlife .img {
  border-color: #69baff;
}
#feature-natural-protection .img {
  border-color: #84e384;
}
#feature-raiding-and-pvp .img {
  border-color: #ff6969;
}
#feature-warp-menu .img {
  border-color: #ad57e3;
}

.featured section {
  /* height: 18vw; */
  margin: -3.5em 1em 2em;
  padding-bottom: 1em;

  position: relative;

  text-shadow: 0 0 3px #ffffff80;
}

.featured h1 {
  margin: 0 0 0.75em 0;
  font-size: 40px;
  font-size: 2.2em;

  border: 0;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
.featured section p {
  margin: 0 0 1.5em 0;

  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  color: #000;
}
.featured .btn-action {
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 0.5em 1em;
  font-size: 0.8em;

  border: 0;
  background: none;
  box-shadow: none;
}

@media only screen and (max-width: 528px) {
  .featured section {
    margin-top: calc(-12.95vw - 0.65em);
  }
  .featured h1 {
    font-size: 10vw;
    white-space: nowrap;
  }
  .featured section p, .lead {
    font-size: calc(2vw + 13px);
  }
}

@media only screen and (min-width: 1000px) {
  .featured {
    font-size: calc(0.75vw + 8px);
  }

  .featured article {
    padding: 3em 0;
  }

  .featured article:nth-child(odd) {
    flex-direction: row;
  }
  .featured article:nth-child(even) {
    flex-direction: row-reverse;
  }

  .featured article > * {
    margin: 0 2em;
  }

  .featured .img {
    /* 1920:1080 16:9 */
    width: 24em;
    height: 13.5em;
    
    box-shadow: 2px 2px 10px #0008;
    border: 3px solid #fffc !important;
    border-radius: 3px;
  }
  .featured section {
    width: 27em;
    /* height: 18vw; */
    text-align: center;
  }
  .featured h1 {
    font-size: 2.2em;
    
    color: #000;
    text-shadow: none;
  }

  #feature-afterlife {
    background: #69baff linear-gradient(to left, #fff6 0%,#fff0 100%);
  }
  #feature-natural-protection {
    background: #84e384 linear-gradient(to right, #fff6 0%,#fff0 100%);
  }
  #feature-raiding-and-pvp {
    background: #ff6969 linear-gradient(to left, #fff6 0%,#fff0 100%);
  }
  #feature-warp-menu {
    background: #ad57e3 linear-gradient(to right, #fff6 0%,#fff0 100%);
  }
}

/* Section - Recent works */
.thumbnails {
  padding: 0;
}
.thumbnails li {
  margin-bottom: 30px;
}
.thumbnails .details {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 40px;
}
.thumbnail {
  display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.thumbnail .img {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 180px;
  margin: 0 0 20px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .thumbnail .img {
    width: calc(100% + 30px);
    height: 280px;
    margin-left: -15px;
  }
}
.thumbnail .title {
  text-transform: uppercase;
  margin: 0 2em;
  display: block;
  text-indent: 0;
}
.thumbnail .cover {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 550ms;
  -moz-transition-duration: 550ms;
  -o-transition-duration: 550ms;
  transition-duration: 550ms;
}
@media only screen and (max-width: 768px) {
  .thumbnail .cover {
    height: 280px;
  }
}
.thumbnail .cover .more {
  position: absolute;
  bottom: 15px;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  -webkit-border-radius: 1px 0 0 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px 0 0 1px;
  -moz-background-clip: padding;
  border-radius: 1px 0 0 1px;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-shadow: 0 1px 0px #780d33;
  background: #6800A5;
  color: white;
}
.thumbnail img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.thumbnail:hover {
  color: #333;
  text-decoration: none;
}
.thumbnail:hover img {
  filter: saturate(0%);
  -webkit-filter: saturate(0%);
}
.thumbnail:hover .cover {
  opacity: 1;
}
/* pagination */
.pagination > li > a {
  color: #808080;
  border: 0 none;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Georgia, serif;
}
.pagination > li > a:hover {
  color: #000000;
  background: none;
}
.pagination > li.active > a {
  color: #333333;
  background: none;
}
.pagination > li.active > a:hover {
  color: #000000;
  background: none;
}
/*********************************************************************


                                 BLOG


**********************************************************************/
.section-title,
.entry-title,
#main .maincontent h1 {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: 1px;
}
.section-title a,
.entry-title a {
  color: #333333;
}
.section-title span,
.entry-title span,
#main .maincontent h1 span {
  display: inline-block;
  position: relative;
}
.section-title span:before,
.entry-title span:before,
#main .maincontent h1 span:before,
.section-title span:after,
.entry-title span:after,
#main .maincontent h1 span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.section-title span:before,
.entry-title span:before,
#main .maincontent h1 span:before {
  right: 100%;
  margin-right: 45px;
}
.section-title span:after,
.entry-title span:after,
#main .maincontent h1 span:after {
  left: 100%;
  margin-left: 45px;
}
.entry-header .entry-meta {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  color: #a5a5a5;
  margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
  color: #a5a5a5;
}
.entry-content {
  margin: 0 0 60px 0;
}
.entry-content h2 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 20px;
  margin-bottom: 20px;
}
.meta-nav,
.more-link {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.meta-nav:hover,
.more-link:hover {
  color: #333333;
  text-decoration: underline;
}
.more-link {
  display: block;
  width: 100%;
  text-align: right;
}
/* Posts navigation */
#nav-below {
  position: fixed;
  top: 48%;
}
#nav-below .meta-nav {
  display: block;
  padding: 27px 7px;
  background: #444;
  color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.2;
}
#nav-below .meta-nav:hover {
  text-decoration: none;
  color: #333;
}
#nav-below .nav-next {
  position: fixed;
  right: -3px;
}
#nav-below .nav-previous {
  position: fixed;
  left: -3px;
}
#nav-below b {
  display: none;
}
footer.entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}
footer.entry-meta a {
  color: #333333;
}
footer.entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  text-align: left;
}
.page-header .page-title {
  margin-top: 0;
  margin-bottom: 30px;
}
/*********************************************************************


                                COMMENTS


**********************************************************************/
#comments {
  font-size: 13px;
  font-size: 0.8125rem;
}
#comments .comments-title {
  margin: 0 0 5px 0;
}
#comments .leave-comment {
  display: block;
  margin: 0 0 40px 0;
}
#comments ul,
#comments ol {
  margin: 0;
  padding: 0;
}
#comments .comment {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
#comments .comments-title {
  text-shadow: none;
  margin-bottom: 0;
}
#comments .avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  border: 5px solid #eeeeee;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#comments .children {
  margin: 0 0 0 90px;
}
#comments .comment-meta {
  margin: 0 0 0 90px;
}
#comments .comment-meta a {
  color: #333333;
}
#comments .comment-meta a:hover {
  color: #6800A5;
}
#comments .comment-meta .author {
  margin: 0 20px 0 0;
  font-weight: bold;
}
#comments .comment-meta .date {
  margin: 0 20px 0 0;
}
#comments .comment-meta .date a {
  color: #666666;
}
#comments .comment-meta .reply {
  float: right;
}
#comments .comment-body {
  margin: 0 0 35px 90px;
}
.comment-navigation {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 2px 0 0 0;
}
.comment-navigation .nav-content {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 10px 0 0 0;
}
.comment-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
#respond {
  margin: 55px 0 0 0;
}
/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
  background: #232323;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}
#footer a {
  color: #ccc;
}
#footer a:hover {
  color: #fff;
}
#footer h3.widget-title {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}
#underfooter {
  background: #191919;
  margin-bottom: -1em;
  padding: 15px 0;
  color: #777;
  font-size: 12px;
}
#underfooter a {
  color: #aaa;
}
#underfooter a:hover {
  color: #fff;
}
#underfooter p {
  margin: 0;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  padding: 15px 0;
  margin: 0 10px 0 0;
}
/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
/*********************************************************************


                                SHARE THIS


**********************************************************************/
.st-custom-button[data-network] {
  background-color: #fff;
  display: inline-block;
  padding: 0px 5px 20px 5px;
  cursor: pointer;
  font-weight: bold;
  color: #666666;
}
.st-custom-button[data-network]:hover, .st-custom-button[data-network]:focus {
  color: #004488;
}
