{{ partial "header.html" . }}

<main id="main" class="page">

	<div class="container">

		<div class="row topspace">

			<!-- Sidebar -->
			<!-- <aside class="col-sm-4 sidebar sidebar-right">

				<div class="nav text-right nav-side">
					<li class="active"><a href="#">{{ .Title }}</a></li>
				</div>

			</aside> -->
			<!-- /Sidebar -->

			<!-- Article main content -->
			<!-- <article class="col-sm-8 maincontent"> -->
                {{ .Content }}
			<!-- </article> -->
			<!-- /Article -->


		</div>
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
