{{ partial "header.html" . }}

<main id="main">

	<div class="container">

		<div class="row topspace">

			<!-- Sidebar -->
			<aside id="nav-side" class="col-sm-4 sidebar nav">
				<div class="sidebar_inner">
					<h1><a href="#top">{{ .Title }}</a></h1>
					{{.TableOfContents}}
				</div>
			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<h1>{{ .Title }}</h1>
                {{ .Content }}
			</article>
			<!-- /Article -->


		</div>
	</div>	<!-- /container -->

</main>

<script type="text/javascript">
    var sidebar = new StickySidebar('#nav-side', {
        containerSelector: '.maincontent',
        innerWrapperSelector: '.sidebar_inner',
        topSpacing: 50,
        bottomSpacing: 0
    });
</script>

{{ partial "footer.html" . }}
