<div class="section topspace">
    <div class="container">
        <div class="panel panel-cta">
            <div class="panel-body">
                <div class="col-lg-8">
                    <p>Thank you for your donation and supporting the-- Oh, you're just here to skip ahead in the game
                        and brag about your swimming pool full of money? Carry on.</p>
                </div>
                <div class="col-lg-4 text-right">
                    <a href="https://www.patreon.com/MagentaRuby" class="btn btn-primary btn-lg">Donate to our
                        Patreon!</a>
                </div>
            </div>
        </div> <!-- /panel -->
    </div> <!-- /container -->
</div> <!-- /section -->