<div id="features" class="section featured topspace">

    <!-- <h2 class="section-title"><span>Features</span></h2> -->

    {{ range (where (where .Data.Pages "Section" "about") "Params.featured" "!=" nil) }}
    <article id="feature-{{ .File.BaseFileName }}">
        <!-- <div class="container"> -->
            <img src="{{ .Params.image }}" alt="" class="img">
            <section>
                <h1>{{ .Title }}</h1>
                {{ .Summary }}
                <a href="{{ .Permalink }}" class="btn btn-action">Read more</a>
            </section>
        <!-- </div> -->
    </article>
    {{ end }}

</div>
<!-- / section -->