<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Ruby Rosario">

	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">

	<!--[if lt IE 9]> <script src="{{ .Site.BaseURL }}js/html5shiv.js"></script> <![endif]-->

	<script src="{{ .Site.BaseURL }}js/sticky-sidebar.js"></script>

	{{ if .Site.Params.customsharethis }}
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
	{{ else }}
	<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=inline-share-buttons"></script>
	{{ end }}

</head>

<body class="home">

		<input type="checkbox" id="chkShowHideMenu">
		<label id="lblShowMenu" for="chkShowHideMenu" title="Hide Menu">
			<span class="icon">&#x2630;</span>
			<span class="text">Show Menu</span>
		</label>
		
		<nav class="navbar">
			<label id="lblHideMenu" for="chkShowHideMenu" title="Show Menu">
				<span class="icon">&#x2630;</span>
				<span class="text">Hide Menu</span>
			</label>
			{{ partial "menu.md" | markdownify }}
		</nav>

		<header>
			{{ partial "banner.svg" }}
			<div id="address">
				<span class="copythis">mc.realmofthewinds.us</span>
				<!-- <span class="tooltip"></span>-->
			</div>
			<a id="discord-invite" href="https://discord.gg/xhyha7Q" target="_blank">
				<img src="https://discordapp.com/assets/192cb9459cbc0f9e73e2591b700f1857.svg" alt="Discord">
			</a>
		</header>