<div class="row section news topspace">

    <h2 class="section-title"><span>News</span></h2>

    <div class="thumbnails news">
        {{ range (where .Data.Pages "Section" "news").ByDate.Reverse }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="{{ .Permalink }}">
                    <span class="img">
                        <img src="{{ .Params.image }}" alt="">
                        <span class="cover"><span class="more">Read more &rarr;</span></span>
                    </span>
                    <span class="title">{{ .Title }}</span>
                    <time class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
                </a>
                <span class="details">{{ .Summary }}</span>
            </div>
        {{ end }}
        {{/*{{ range .Data.Pages.GroupBy "Section" }}
        <h3>{{ .Key }}</h3>
        <ul>
            {{ range .Pages }}
            <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
            </li>
            {{ end }}
        </ul>
        {{ end }}*/}}
        <!-- <div class="col-sm-6 col-md-3">
            <h3 class="text-center">{{ .Title }}</h3>
            <p>{{ .Summary }}</p>
            <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
        </div>
        { { end } } -->
    </div>

</div> <!-- /section -->
