<div class="section topspace">
    <div class="container">
        <p class="lead text-center text-muted">
            A mix between survival and prison, automated anti-grief, raiding, and full-featured teleportation. All of this with no commands.
        </p>
    </div>
</div> <!-- / section -->
